## All files have already been filtered such that only unique orthologs common to all
## species in the test are present (481 genes for cerapachys, polistes and acromyrmex)
#
# define all variance stabilized transformation files:
meth_f   PRO20150401_species_comparisons/methylation.vst.tbl.cbir_ortho.tbl.common.tbl.redundant.tbl
brsw_f   PRO20150401_species_comparisons/broodswap_pe.vst.tbl.cbir_ortho.tbl.common.tbl.redundant.tbl
polu_f   PRO20150401_species_comparisons/polistes_unknown.tbl.cbir_ortho.tbl.common.tbl.redundant.tbl
polk_f   PRO20150401_species_comparisons/polistes_known.tbl.cbir_ortho.tbl.common.tbl.redundant.tbl
acro_f   PRO20150401_species_comparisons/acromyrmex.tbl.cbir_ortho.tbl.common.tbl.redundant.tbl
#
# define all htseq raw count file directories:
meth_rd  PRO20150224_star_pe_controls/htseq
brsw_rd  PRO20150224_star_pe_controls/htseq
bsse_rd  PRO20150224_star_broodswap_se/htseq
polk_rd  PRO20150304_star_polistes/HTSeq
acro_rd  PRO20150331_star_acromyrmex_heads/htseq
polu_rd  PRO20150304_star_polistes_unknown_expt/htseq
#
# file with all non-redundant unique orthologs:
nru_orthos      PRO20150401_species_comparisons/common_orthos.list.redundant.tbl
convert_orthos  PRO20150320_orthomcl_ncbi_annotations/pairs/orthologs_cbir_sinv_aech_pcan.other_to_cbir.nr.list
#
# file containing the DEGs from DESeq2 from methylation samples, that are unique orthologs:
meth_degs_f  PRO20150224_star_pe_controls/deseq2/methylation.genes.batch_corrected.pvalues.out.lt_05
brsw_degs_f  PRO20150224_star_pe_controls/deseq2/broodswapctrls.genes.batch_corrected.pvalues.out.lt_05
#
meth_degs_common_nr_f  PRO20150401_species_comparisons/common_orthos.meth_degs.list
brsw_degs_common_nr_f  PRO20150401_species_comparisons/common_orthos.bs_degs.list
#
acro_degs_f  PRO20150331_star_acromyrmex_heads/deseq2/Acromyrmex.genes.all_samples.LRT.pvalues.lt05.out
#
ncbi_names  C.biroi/armyant.OGS.V2.0.1.names.list
#
# define Kegg files:
kegg_f  PRO20150320_orthomcl_ncbi_annotations/kegg/KEGG_heirarchy.Apr2015.keg
cbir_ko  PRO20150320_orthomcl_ncbi_annotations/kegg/Cbir_KO_terms.genes.list.txt