# this file contains the KEGG hierarchy (can be downloaded from kegg website:
kegg_f  PRO20150320_orthomcl_ncbi_annotations/kegg/KEGG_heirarchy.Apr2015.keg
# this is the list of genes and their corresponding kegg ortholog
# (can be calculated from the kegg website):
cbir_ko  PRO20150320_orthomcl_ncbi_annotations/kegg/Cbir_KO_terms.genes.list.txt